{% extends 'base.html.twig' %}

{% block title %}Announcements index{% endblock %}

{% block body %}

    <h1>Announcements index</h1>



    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Price</th>
                <th>Size</th>
                <th>Weight</th>
                <th>Quality</th>
                <th>Specifications</th>
                <th>ImageAnnouncements</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>

            {% for announcement in announcements %}
                {% if announcement.fkUserId is same as(app.user) %}
                    <tr>
                        <td>{{ announcement.id }}</td>
                        <td>{{ announcement.Description }}</td>
                        <td>{{ announcement.Price }}</td>
                        <td>{{ announcement.Size }}</td>
                        <td>{{ announcement.Weight }}</td>
                        <td>{{ announcement.Quality }}</td>
                        <td>{{ announcement.Specifications }}</td>
                        <td>{{ announcement.ImageAnnouncements }}</td>
                        <td>
                            <a href="{{ path('announcements_show', {'id': announcement.id}) }}">show</a>
                            <a href="{{ path('announcements_edit', {'id': announcement.id}) }}">edit</a>
                        </td>
                    </tr>

                {% elseif app.user == false %}
                    <tr>
                        <td>{{ announcement.id }}</td>
                        <td>{{ announcement.Description }}</td>
                        <td>{{ announcement.Price }}</td>
                        <td>{{ announcement.Size }}</td>
                        <td>{{ announcement.Weight }}</td>
                        <td>{{ announcement.Quality }}</td>
                        <td>{{ announcement.Specifications }}</td>
                        <td>{{ announcement.ImageAnnouncements }}</td>
                    </tr>
                {% endif %}
                <!--<tr>
                    <td colspan="9">no records found</td>
                </tr>-->

            {% endfor %}

        </tbody>
    </table>
    {% if app.user == false %}
    {% else %}
        <a href="{{ path('announcements_new') }}">Create new</a>
    {% endif %}

{% endblock %}