{{ form_start(form, {'attr': {'id': 'upload-form'}}) }}
{{ form_row(form.fullName) }}
{{ form_row(form.username) }}
{{ form_row(form.email) }}
{{ form_row(form.password.first) }}
{{ form_row(form.password.second) }}
{{ form_row(form.avatar) }}


<input type="submit" name="upload" class="btn" value="S'inscrire !">

<!--<button type="submit" class="btn">S'inscrire !</button>-->
{{ form_end(form) }}



