{{ form_start(form, {'attr': {'id': 'upload-form'}}) }}
{{ form_row(form.Name) }}
{{ form_row(form.firstName) }}
{{ form_row(form.username) }}
{{ form_row(form.email) }}
{{ form_row(form.password.first) }}
{{ form_row(form.password.second) }}
{{ form_row(form.avatar) }}


<!--<input type="submit" name="upload" class="btn" value="S'inscrire !">-->

{{ form_end(form) }}
<button type="submit" class="btn">S'inscrire !</button>



