{% extends 'base.html.twig' %}

{% block title %}CatAnnouncements index{% endblock %}

{% block body %}
    <h1 class="text-center">Catégories des Annonces</h1>

    <table class="table table-dark">
        <thead class="thead-dark">
            <tr>
                <th class="text-center">Id</th>
                <th class="text-center">Label</th>
                <th class="text-center">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cat_announcement in cat_announcements %}
            <tr>
                <td class="text-center">{{ cat_announcement.id }}</td>
                <td class="text-center">{{ cat_announcement.Label }}</td>
                <td class="text-center">
                    <a href="{{ path('cat_announcements_show', {'id': cat_announcement.id}) }}">Afficher</a>
                    <a href="{{ path('cat_announcements_edit', {'id': cat_announcement.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cat_announcements_new') }}">Create new</a>
{% endblock %}