{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
    <h1>Mes Produits</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Price</th>
                <th>ImageProducts</th>
                <th>Boutique</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                        {% if app.user == product.fkCatShopId.fkShopId.fkUserId %}
                            <tr>
                                <td>{{ product.id }}</td>
                                <td>{{ product.Label }}</td>
                                <td>{{ product.Price }}</td>
                                <td>{{ product.ImageProducts }}</td>
                                <td>{{ product.fkCatShopId.fkShopId.Label }}</td>
                                <td>
                                    <a href="{{ path('products_show', {'id': product.id}) }}">Afficher</a>
                                    <a href="{{ path('products_edit', {'id': product.id}) }}">Modifier</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% else %}
                        <tr>
                            <td colspan="5">no records found</td>
                        </tr>
                    {% endfor %}
        </tbody>
    </table>

    <div class="lien">
        <a href="{{ path('products_new') }}">Ajouter un produit</a>
    </div>
{% endblock %}