{% extends 'base.html.twig' %}

{% block title %}Catégories Boutiques{% endblock %}

{% block body %}
    <h1 class='text-bold text-white'>Catégories Boutiques</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Description</th>
                <th>Boutique</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for cat_shop in cat_shops %}
                    <tr>
                        <td>{{ cat_shop.id }}</td>
                        <td>{{ cat_shop.Label }}</td>
                        <td>{{ cat_shop.Description }}</td>
                        <td>{{ cat_shop.fkShopId.Label }}</td>
                        <td>
                            <a href="{{ path('cat_shop_show', {'id': cat_shop.id}) }}">Afficher</a>
                            <a href="{{ path('cat_shop_edit', {'id': cat_shop.id}) }}">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Aucune boutique créée</td>
                    </tr>
                {% endfor %}

        </tbody>
    </table>
    <div class='lien'>
        <a href="{{ path('cat_shop_new') }}">Ajouter une nouvelle catégorie aux boutiques</a>
    </div>
{% endblock %}