{% extends 'base.html.twig' %}

{% block title %}{{ cat_shop.Label }}{% endblock %}

{% block body %}
    <h1>Catégorie Boutique / {{ cat_shop.Label }}</h1>
    {{ dump(cat_shop) }}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cat_shop.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ cat_shop.Label }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ cat_shop.Description }}</td>
            </tr>
        </tbody>
    </table>
            
    <div class='lien'>
        <a href="{{ path('cat_shop_index') }}">Retour</a>
        <br />
        <br />
        <a href="{{ path('cat_shop_edit', {'id': cat_shop.id}) }}">Modifier</a>
    </div>
    {{ include('cat_shop/_delete_form.html.twig') }}
{% endblock %}