{% extends 'base.html.twig' %}

{% block title %}
    {% for shop in shops %}
        {{ shop.Label }} - Boutique 
    {% endfor %}
{% endblock %}

{% block body %}
    <h1 class='text-white text-bold'>Boutiques</h1>

    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th class="text-center">Boutique</th>
            </tr>
        </thead>
        <tbody>
            {% for shop in shops %}
                {% if is_granted(['ROLE_USER','ROLE_ADD','ROLE_ADMIN']) %}
                    <tr>
                        <td class="text-center"><a href="{{ path('shop_show', {'id': shop.id}) }}" class='text-white'><img src="{{ asset('uploads/images/logo/' ~ shop.Logo) }}" alt="{{ shop.Label }}" title="{{ shop.Label }}" /></a></td>
                        <td class="text-center">
                            {% if shop.fkUserId == app.user %}
                                <a href="{{ path('shop_edit', {'id': shop.id}) }}" class='text-white'> | Modifier</a>
                            {% endif %}
                        </td>
                    {% elseif app.user == false %}
                        <td class="text-center"><a href="{{ path('shop_show', {'id': shop.id}) }}" class='text-white'><img src="{{ asset('uploads/images/logo/' ~ shop.Logo) }}" alt="{{ shop.Label }}" title="{{ shop.Label }}" /></a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>


    {% if app.user %}
        <div class="lien">
            <a href="{{ path('products_new') }}" class="text-white">Ajouter des produits à la boutique</a>
        </div>
    {% endif %}

{% endblock %}