{% extends 'base.html.twig' %}

{% block title %}
    {% for shop in shops %}
        {{ shop.Label }} - Boutique 
    {% endfor %}
{% endblock %}

{% block body %}
    <h1 class='text-white text-bold'>Ma Boutique</h1>

    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>Id</th>
                <th>Boutique</th>
                <th>Catégorie</th>
                <th>Produits</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for shop in shops %}
                {{ dump(shop) }}
                {% if shop.fkUserId == app.user %}
                    <tr>
                        <td>{{ shop.id }}</td>
                        <td>{{ shop.Label }}</td>
                        {% for boutique in shop.fkCatShopId %}
                            {{ dump(boutique) }}
                            <td>{{ boutique.Label }}</td>
                            {% for prod in boutique.fkCatShopProdId %}
                                {{ dump(prod) }}
                                <td>{{ prod.Label }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3">no records found</td>
                            </tr>

                        {% endfor %}
                    {% endfor %}
                <td>
                    <a href="{{ path('shop_show', {'id': shop.id}) }}">Afficher</a>
                    <a href="{{ path('shop_edit', {'id': shop.id}) }}">Modifier</a>
                </td>
            {% endif %}

        {% endfor %}
    </tbody>
</table>



<div class="lien">
    <a href="{{ path('products_new') }}" class="text-white">Ajouter des produits à la boutique</a>
</div>
{% endblock %}