{% extends 'base.html.twig' %}

{% block title %}{{ shop.Label }}{% endblock %}

{% block body %}
    <h1 class='text-bold'><img src="{{ shop.Logo }}" alt="{{ shop.Label }}" /></h1>
        {% if shop.fkUserId == app.user %}
            {% for boutique in shop.fkCatShopId %}
                {% for prod in boutique.fkCatShopProdId %}
                <table class="table table-dark table-hover text-center">
                    <thead>
                        <tr>
                            <th>{{ boutique.Label }}</th>
                            <th>Prix</th>
                            <th>Prix</th>
                        </tr>
                    </thead>
                    <tr>
                        <td><a href="{{ path('products_show', {'id': prod.id}) }}" class="text-white">{{ prod.Label }}</a></td>
                        <td>{{ prod.Price }} €</td>
                        <td>{{ prod.Price }} €</td>
                    </tr>
                </table>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <div class="lien">

        <a href="{{ path('user_index') }}">Retour</a>
        <br />
        <br />
        <a href="{{ path('shop_edit', {'id': shop.id}) }}">edit</a>

    </div>


    {% if is_granted(['ROLE_ADMIN','ROLE_USER','ROLE_ADD']) %}
        '<body style="background : url('{{ shop.ShopImage }}') no-repeat;background-size : cover;"></body>';
    {% else %}

    {% endif %}


    {{ include('shop/_delete_form.html.twig') }}
{% endblock %}