<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('assets/css/bootstrap.min.css')}}" rel="stylesheet" />
            <link href="{{ asset('assets/css/pricing.css')}}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        {% block navigation %}
            <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
                <h5 class="my-0 mr-md-auto font-weight-normal">Accroch'.com</h5>
                <nav class="my-2 my-md-0 mr-md-3">
                    <a class="p-2 text-dark" href="/">Accueil</a>
                    <a class="p-2 text-dark" href="/user">User</a>
                    <a class="p-2 text-dark" href="/announcements">Annonce</a>
                    <a class="p-2 text-dark" href="/shop">Boutique</a>
                    <a class="p-2 text-dark" href="/cat/shop">Catégorie Produits de la Boutique</a>
                    <a class="p-2 text-dark" href="/products">Produits</a>
                    <a class="p-2 text-dark" href="/marketers">Annonceurs</a>
                    <a class="p-2 text-dark" href="/cat/add">Catégorie Bannière</a>
                    <a class="p-2 text-dark" href="/banner">Bannière Pub</a>
                    <a class="p-2 text-dark" href="/invoices">Factures</a>
                </nav>
                {% if app.user %}
                    <a class="btn btn-outline-primary" href="/logout">Déconnexion</a>
                {% else %}
                    <a class="btn btn-outline-primary" href="/register">Inscription</a>&nbsp&nbsp
                     <a class="btn btn-outline-primary" href="/login">Connexion</a>&nbsp&nbsp
                    <a class="btn btn-outline-primary" href="/logout">Déconnexion</a>
                {% endif %}

            </div>
        {% endblock %}
        {% block body %}
        {% endblock %}
        {% block footer %}
            <footer class="pt-4 my-md-5 pt-md-5 border-top">
                <div class="row">
                    <div class="col-12 col-md">
                        <img class="mb-2" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
                        <large class="d-block mb-3 text-muted">&copy; Laurent aka <a href="https://www.skulkrone-design.fr/" target="_blank" title="Skulkrone-Design">Skulkrone</a> | Accroch'.com</large>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Features</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="#">Cool stuff</a></li>
                            <li><a class="text-muted" href="#">Random feature</a></li>
                            <li><a class="text-muted" href="#">Team feature</a></li>
                            <li><a class="text-muted" href="#">Stuff for developers</a></li>
                            <li><a class="text-muted" href="#">Another one</a></li>
                            <li><a class="text-muted" href="#">Last time</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Resources</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="#">Resource</a></li>
                            <li><a class="text-muted" href="#">Resource name</a></li>
                            <li><a class="text-muted" href="#">Another resource</a></li>
                            <li><a class="text-muted" href="#">Final resource</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>About</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="#">Team</a></li>
                            <li><a class="text-muted" href="#">Locations</a></li>
                            <li><a class="text-muted" href="#">Privacy</a></li>
                            <li><a class="text-muted" href="#">Terms</a></li>
                        </ul>
                    </div>
                </div>
            </footer>
            <footer>
                <p></p>
            </footer>
        {% endblock %}
        {% block javascripts %}
            <script>window.jQuery || document.write('<script src="{{ asset('assets/js/vendor/jquery-slim.min.js')}}"><\/script>')</script>
            <script src="{{ asset('assets/js/vendor/popper.min.js')}}"></script>
            <script src="{{ asset('assets/js/bootstrap.min.js')}}"></script>
            <script src="{{ asset('assets/js/vendor/holder.min.js')}}"></script>
            <script>
                Holder.addTheme('thumb', {
                    bg: '#55595c',
                    fg: '#eceeef',
                    text: 'Thumbnail'
                });
            </script>
        {% endblock %}
    </body>
</html>
