<section id="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-4 col-md-6 col-md-offset-3">
                <div class="page-login-form box">
                    {{ form_start(form, {'attr': {'id': 'upload-form'}}) }}
                    {{ form_row(form.Name) }}
                    {{ form_row(form.firstName) }}
                    {{ form_row(form.username) }}
                    {{ form_row(form.address) }}
                    <div>
                        <select id="countrySelect" name="country">
                            <option value="FR"> France</option>
                        </select>
                    </div>
                    {{ form_row(form.postalCode, {'attr': {'onblur': 'postalCodeLookup ();'} }) }}
                    {{ form_row(form.city, {'attr': {'onblur': 'closeSuggestBox ();'} }) }}
                    <span style="z-index:25;visibility: hidden;" id="suggestBoxElement"></span>
                    {{ form_row(form.email) }}
                    {{ form_row(form.phone) }}
                    {{ form_row(form.password.first) }}
                    {{ form_row(form.password.second) }}
                    {{ form_row(form.avatar) }}
                    {{ form_row(form.typeRoles) }}
                    {{ form_row(form.termsAccepted) }}
                    <!--<input type="submit" name="upload" class="btn" value="S'inscrire !">-->
                    <button class="btn btn-common log-btn">{{ button_label|default('Valider') }}</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="http://api.geonames.org/export/geonamesData.js?username=skulkrone"></script>
<script type="text/javascript" src="{{ asset('assets/js/jsr_class.js')}}"></script>
<script type="text/javascript" >
    // les codes postaux sont remplis par le callback JSON et utilisés par les gestionnaires d'événements de la souris de la boîte de suggestion
    var postalcodes;

    // Cette fonction sera appelée par notre callback JSON
    // le paramètre jData contiendra un tableau avec les objets du code postal
    function getLocation(jData) {
        if (jData === null) {
            // Il y a eu un problème d'analyse des résultats de recherche
            return;
        }

        // sauvegarder le tableau des lieux dans'codes postaux' pour le rendre accessible depuis les gestionnaires d'événements de la souris
        postalcodes = jData.postalcodes;

        if (postalcodes.length > 1) {
            // nous avons plusieurs endroits pour le code postal
            // rendre visible la boîte à suggestions
            document.getElementById('suggestBoxElement').style.visibility = 'visible';
            var suggestBoxHTML = '';
            // itérez sur les lieux et construisez le contenu de la boîte à suggestions
            for (i = 0; i < jData.postalcodes.length; i++) {
                // pour chaque enregistrement de code postal, nous créons une div html 
                // chaque div obtient un identifiant à l'aide de l'index du tableau pour une récupération ultérieure 
                // Définir les gestionnaires d'événements de la souris pour mettre en surbrillance les endroits sur le survol de la souris
                // et pour sélectionner un endroit, cliquez sur
                // tous les événements reçoivent l'index du tableau de codes postaux comme paramètre d'entrée

                suggestBoxHTML += "<div class='suggestions' id=pcId" + i + " onmousedown='suggestBoxMouseDown(" + i + ")' onmouseover='suggestBoxMouseOver(" + i + ")' onmouseout='suggestBoxMouseOut(" + i + ")'> " + postalcodes[i].countryCode + ' ' + postalcodes[i].postalcode + '    ' + postalcodes[i].placeName + '</div>';
            }
            // display suggest box
            document.getElementById('suggestBoxElement').innerHTML = suggestBoxHTML;
        } else {
            if (postalcodes.length === 1) {
                // exactement un seul endroit pour le code postal
                // Remplissez directement le formulaire, aucune boîte de suggestions n'est requise. 
                var placeInput = document.getElementById("user_city");
                placeInput.value = postalcodes[0].placeName;
            }
            closeSuggestBox();
        }
    }


    function closeSuggestBox() {
        document.getElementById('suggestBoxElement').innerHTML = '';
        document.getElementById('suggestBoxElement').style.visibility = 'hidden';
    }


    // supprimer le surlignage lors de l'événement mouse out
    function suggestBoxMouseOut(obj) {
        document.getElementById('pcId' + obj).className = 'suggestions';
    }

    // l'utilisateur a sélectionné un nom de lieu dans la boîte de suggestion
    function suggestBoxMouseDown(obj) {
        closeSuggestBox();
        var placeInput = document.getElementById("user_city");
        placeInput.value = postalcodes[obj].placeName;
    }

    // pour mettre en surbrillance les lieux d'un événement survolé par la souris
    function suggestBoxMouseOver(obj) {
        document.getElementById('pcId' + obj).className = 'suggestionMouseOver';
    }


    // cette fonction est appelée lorsque l'utilisateur quitte le champ de saisie du code postal
    // il appelle le webservice geonames.org JSON pour récupérer un tableau de lieux 
    // pour le code postal indiqué 
    function postalCodeLookup() {

        var country = document.getElementById("countrySelect").value;

        if (geonamesPostalCodeCountries.toString().search(country) == -1) {
            return; // pays sélectionné non supporté par geonames
        }
        // affichage du 'chargement' dans la boîte de suggestions
        document.getElementById('suggestBoxElement').style.visibility = 'visible';
        document.getElementById('suggestBoxElement').innerHTML = '<small><i>loading ...</i></small>';

        var postalcode = document.getElementById("user_postalCode").value;

        request = 'http://api.geonames.org/postalCodeLookupJSON?postalcode=' + postalcode + '&country=' + country + '&callback=getLocation&username=skulkrone';

        // Créer un nouvel objet script
        aObj = new JSONscriptRequest(request);
        // Construire la balise script
        aObj.buildScriptTag();
        // Exécuter (ajouter) la balise script
        aObj.addScriptTag();
    }

    // définir le pays de l'ip de l'utilisateur (inclus dans geonamesData.js) comme pays sélectionné 
    // dans le pays sélectionner la case du formulaire d'adresse
    function setDefaultCountry() {
        var countrySelect = document.getElementById("countrySelect");
        for (i = 0; i < countrySelect.length; i++) {
            // le javascript geonamesDataData.js contient le code pays
            //de l'UserIp dans la variable'geonamesUserIpCountryCode'.
            if (countrySelect[i].value === geonamesUserIpCountryCode) {
                // définir la zone de sélection du pays
                countrySelect.selectedIndex = i;
            }
        }
    }
</script>


